@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

:root {
    --color-bg: #E3E3E3;
    --color-icon: #FDFDFD;
    --color-text-sidebar: #727272;
    --color-text-normal: #0D0D0D;
    --color-black: #2A2A2A;
}

* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: var(--color-bg);
}


/* Scrollbar global */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-bg); /* gris 300 */
    border-radius: 9999px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af; /* gris 400 */
  }